import("stats")
importFrom("grid", "grid.newpage", "grid.draw")
importFrom("robustbase", "rowMedians")
importFrom("gridExtra", "arrangeGrob")
importFrom("ggplot2", "ggplot", "aes", "aes_string", "geom_line", "xlab", 
                      "ylab", "ylim", "ggtitle", "geom_point", "scale_size")
importFrom("qqplotr", "stat_qq_band", "stat_qq_point", "stat_qq_line")

export("optIF",
       "fsRadius",
       "rmx",
       "rowRmx",
       "colRmx",
       "plotIF",
       "qqplotRmx")

S3method(print, optIF)
S3method(print, rmx)
S3method(print, rmxCI)
S3method(print, RMXlist)
S3method(summary, optIF)
S3method(summary, rmx)
S3method(coef, rmx)
S3method(vcov, rmx)
S3method(confint, rmx)
S3method(plot, optIF)
S3method(plot, rmx)

