import("stats")
importFrom("utils", "head")
importFrom("grid", "grid.newpage", "grid.draw")
importFrom("boot", "boot.ci")
importFrom("parallel", "detectCores", "makeCluster", "parApply", "stopCluster")
importFrom("robustbase", "rowMedians")
importFrom("gridExtra", "arrangeGrob")
importFrom("ggplot2", "ggplot", "aes", "aes_string", "geom_line", "xlab", 
                      "ylab", "ylim", "ggtitle", "geom_point", "scale_size",
                      "geom_vline", "geom_hline", "annotate", "geom_rug",
                      "stat_function", "geom_density", "geom_abline", "xlim")
importFrom("qqplotr", "stat_qq_band", "stat_qq_point", "stat_qq_line",
                      "stat_pp_band", "stat_pp_point", "stat_pp_line")

export("optIF",
       "fsRadius",
       "rmx",
       "rowRmx",
       "colRmx",
       "cniper",
       "getCnipers",
       "outlier",
       "getOutliers",
       "ifPlot",
       "qqPlot",
       "ppPlot",
       "dPlot",
       "aiPlot",
       "riPlot",
       "iiPlot")

S3method(print, optIF)
S3method(print, rmx)
S3method(print, rmxCI)
S3method(print, RMXlist)
S3method(print, cniper)
S3method(print, outlier)
S3method(summary, optIF)
S3method(summary, rmx)
S3method(coef, rmx)
S3method(vcov, rmx)
S3method(confint, rmx)
S3method(plot, optIF)
S3method(plot, rmx)
S3method(plot, cniper)
S3method(cniper, rmx)
S3method(outlier, rmx)
S3method(ifPlot, rmx)
S3method(qqPlot, rmx)
S3method(ppPlot, rmx)
S3method(dPlot, rmx)
S3method(aiPlot, rmx)
S3method(riPlot, rmx)
S3method(iiPlot, rmx)

